certifi==2020.6.20
chardet==3.0.4
cloudpickle==1.5.0
cycler==0.10.0
dask==2.24.0
FMPy==0.2.22
fsspec==0.8.0
idna==2.10
kiwisolver==1.2.0
lark-parser==0.9.0
locket==0.2.0
lxml==4.5.2
matplotlib==3.3.1
modestga==0.5.3
numpy==1.19.1
pandas==1.1.1
partd==1.1.0
Pillow==7.2.0
pkg-resources==0.0.0
pudb==2019.2
pyDOE==0.3.8
Pygments==2.6.1
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqtgraph==0.11.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scipy==1.5.2
six==1.15.0
toolz==0.10.0
urllib3==1.25.10
urwid==2.1.1
